

.for-div{
    text-align: center;
    margin: 30px;
}


.btn{
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: "Inconsolata", monospace;
    padding: 8px;
    border-radius: 3px;
    border-color: #c2bd28ff;
   

     &:hover{
        box-shadow: 0 2px 10px yellow;
        color: black;
        background-color: yellow;
        font-weight: bold;
        border-color: black;
    }
}
