@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

.ftr{
    text-align: center;
    font-family: "Schoolbell", cursive;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-bottom: 0px;
    padding: 8px;
    background-color: rgb(30, 30, 30);
    z-index: 100;

    
}