
.box{

    background-color: rgb(30, 30, 30);
    color: white;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-family: "Inconsolata", monospace;   


     &:hover{
        box-shadow: 0 2px 10px yellow;
    }
   
}


.first-line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
   
}

.first-line span{
    
    margin-top: 0px;
    
}

.second-line{
    display: flex;
    justify-content: center;
   
}

.second-line a{
   color: #A1A1AA;
   display: flex;
   gap: 2px;
   
 

    &:hover{
        color: yellow;
    }
}


/* Pour mon responsive */
@media (max-width:520px) {

   .box:hover{
        box-shadow: none;
}
}