@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad+Guides&display=swap');

#header{
  text-align: center;
  background-color: yellow;
  color: black;
  width: 50vh;
  margin: 10px auto;
  padding-bottom: 10px;
  border-radius: 8px;
  font-family: "Playwrite US Trad Guides", cursive;
}

a{
  color: black;
}


/* Pour mon responsive */
@media (max-width:520px) {

   #header{
    width: 90vw;
   }
}